/* 全体 */
body {
    margin: 0;
}

a {
    color: unset;
    text-decoration:  none;
}

button {
    background-color: unset;
    border: unset;
    cursor: pointer;
}

/* 汎用クラス */
.hidden {
    display: none !important;
}

.button_black {
    padding: 10px 20px;
    color: white;
    background-color: black;
    font-size: large;
    font-weight: bold;
    border: solid 1px black;
    border-radius: 8px;
    transition: 0.5s;
}

.button_black:hover {
    color: black;
    background-color: white;
}

/* ヘッダー */
header {
    width: calc(100% - 40px);
    height: 60px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    background-color: black;
    box-shadow: 0px -2px 6px 5px rgba(0, 0, 0, 0.25);
}

.header_title {
    margin: 10px 0;
    font-size: x-large;
    font-weight: bold;
}

nav {
    display: flex;
    height: 100%;
}

nav > a {
    width: 80px;
    line-height: 60px;
    text-align: center;
    font-weight: bold;
    transition: 0.25s;
}

nav > a:hover {
    color: black;
    background-color: white;
}

/* メイン記事 */
main {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100% - 40px);
    max-width: 800px;
    padding: 0 20px;
    left: 50%;
    transform: translateX(-50%);
}

.headline {
    display: flex;
    width: 100%;
    align-items: center;
}

.headline > h1 {
    margin: 20px 40px;
    text-align: center;
}

.headline_line {
    display: block;
    flex-grow: 1;
    height: 4px;
    background-color: black;
}

.gray_floating_block {
    background-color: whitesmoke;
    border: solid 1px lightgray;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.25);
}

/* ABOUTセクション */
#about_me {
    display: flex;
    align-items: start;
    gap: 20px;
}

#profile {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.profile_key {
    display: flex;
    align-items: center;
    margin-bottom: 0;
    font-weight: bold;
}

.profile_key::before {
    content: '';
    display: block;
    width: 8px;
    height: 8px;
    margin-right: 5px;
    background-color: black;
    border-radius: 50%;
}

.profile_value {
    margin: 0 0 24px 30px;
    font-size: x-large;
}

#my_photo {
    width: 300px;
    border-radius: 16px;
    box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.25);
}

/* 読込中表示 */
.loading {
    display: flex;
    align-items: center;
}

.loading > p {
    font-size: large;
    margin-left: 10px;
    font-weight: bold;
}

.loading_icon {
    position: relative;
}

.loading_icon_back {
    width: 20px;
    height: 20px;
    border: solid 3px lightgray;
    border-radius: 50%;
}

.loading_icon_front {
    position: absolute;
    width: 13px;
    height: 13px;
    top: 0;
    left: 0;
    transform-origin: 100% 100%;
    overflow: hidden;
    animation: 0.5s linear infinite loading_icon_anim;
}

@keyframes loading_icon_anim {
    0% {
        transform: rotateZ(0deg);
    }
    100% {
        transform: rotateZ(360deg);
    }
}

.loading_icon_front::before {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: solid 3px black;
}

/* 読み込み失敗表示 */
.load_fail {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100% - 80px);
    padding: 20px;
    background-color: rgb(255, 230, 230);
    border: solid 1px rgb(255, 120, 120);
    border-radius: 16px;
}

.load_fail > p {
    margin: 0 0 1em 0;
    font-size: large;
    font-weight: bold;
}

/* SKILLSセクション */
#skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

#skills > div {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    padding: 5px 10px;
}

#skills > div > p {
    font-size: large;
    margin: 0 0 0 10px;
    font-weight: bold;
}

#skills > div > img {
    width: 28px;
    max-height: 28px;
}

/* WORKSセクション */
#works_area {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
}

#works {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px
}

.works_article {
    display: flex;
    flex-direction: column;
    border: none;
}

.article_summary {
    display: flex;
    flex-direction: column;
    width: calc(100% - 20px);
    padding: 10px;
    border: solid 1px lightgray;
    border-top: none;
    border-radius: 0 0 8px 8px;
}

.article_summary > h2 {
    margin: 0;
}

.article_summary > p {
    margin: 0;
}

.article_summary > div {
    display: flex;
    align-items: end;
    justify-content: space-between;
    margin-top: 5px;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.tag {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 2px 5px;
    border: solid 1px darkgray;
    border-radius: 8px;
}

.tag > img {
    width: 16px;
    height: 16px;
}

.tag_color {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: black;
}

.tag > p {
    margin: 0;
}