/* 全体 */
html {
    scroll-behavior: smooth;
    scroll-padding-top: 60px;
}

body {
    margin: 0;
}

a {
    color: unset;
    text-decoration:  none;
}

button {
    background-color: unset;
    border: unset;
    cursor: pointer;
}

/* 汎用クラス */
.hidden {
    display: none !important;
}

.button_black {
    padding: 10px 20px;
    color: white;
    background-color: black;
    font-size: large;
    font-weight: bold;
    border: solid 1px black;
    border-radius: 8px;
    transition: 0.5s;
}

.button_black:hover {
    color: black;
    background-color: white;
}

/* ヘッダー */
header {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - 40px);
    height: 60px;
    padding: 0 20px;
    top: 0;
    color: white;
    background-color: black;
    box-shadow: 0px -2px 6px 5px rgba(0, 0, 0, 0.25);
}

.header_title {
    margin: 10px 0;
    font-size: x-large;
    font-weight: bold;
}

nav {
    display: flex;
    height: 100%;
}

nav > a {
    width: 80px;
    line-height: 60px;
    text-align: center;
    font-weight: bold;
    transition: 0.25s;
}

nav > a:hover {
    color: black;
    background-color: white;
}

/* メイン記事 */
main {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100% - 40px);
    max-width: 800px;
    margin: 60px 0 20px 0;
    padding: 0 20px;
    left: 50%;
    transform: translateX(-50%);
}

.headline {
    display: flex;
    width: 100%;
    align-items: center;
}

.headline > h1 {
    margin: 20px 40px;
    text-align: center;
}

.headline_line {
    display: block;
    flex-grow: 1;
    height: 4px;
    background-color: black;
}

.gray_floating_block {
    background-color: whitesmoke;
    border: solid 1px lightgray;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.25);
}

/* ABOUTセクション */
#about_me {
    display: flex;
    align-items: start;
    gap: 20px;
}

#profile {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.profile_key {
    display: flex;
    align-items: center;
    margin-bottom: 0;
    font-weight: bold;
}

.profile_key::before {
    content: '';
    display: block;
    width: 8px;
    height: 8px;
    margin-right: 5px;
    background-color: black;
    border-radius: 50%;
}

.profile_value {
    margin: 0 0 24px 30px;
    font-size: x-large;
}

#photo_and_contacts {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#my_photo {
    width: 300px;
    border-radius: 16px;
    box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.25);
}

#contacts {
    display: flex;
    justify-content: space-around;
}

#contacts > a {
    position: relative;
    display: block;
    width: 40px;
    height: 40px;
}

#contacts > a:hover > p {
    visibility: visible;
    opacity: 100%;
}

#contacts > a > p {
    position: absolute;
    display: block;
    margin: 0;
    padding: 5px 20px;
    left: 50%;
    bottom: -15px;
    transform: translate(-50%, 100%);
    color: white;
    text-align: center;
    text-wrap: nowrap;
    background-color: black;
    border-radius: 8px;
    visibility: hidden;
    opacity: 0%;
    transition: 0.5s;
}

#contacts > a > p::before {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: 50%;
    transform: translate(-50%, -100%);
    border: solid 10px transparent;
    border-bottom: solid 10px black;
}

#contacts > a::after {



}

#contacts > a > img {
    width: 100%;
    height: 100%;
}

/* 読込中表示 */
.loading {
    display: flex;
    align-items: center;
}

.loading > p {
    font-size: large;
    margin-left: 10px;
    font-weight: bold;
}

.loading_icon {
    position: relative;
}

.loading_icon_back {
    width: 20px;
    height: 20px;
    border: solid 3px lightgray;
    border-radius: 50%;
}

.loading_icon_front {
    position: absolute;
    width: 13px;
    height: 13px;
    top: 0;
    left: 0;
    transform-origin: 100% 100%;
    overflow: hidden;
    animation: 0.5s linear infinite loading_icon_anim;
}

@keyframes loading_icon_anim {
    0% {
        transform: rotateZ(0deg);
    }
    100% {
        transform: rotateZ(360deg);
    }
}

.loading_icon_front::before {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: solid 3px black;
}

/* 読み込み失敗表示 */
.load_fail {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100% - 80px);
    padding: 20px;
    background-color: rgb(255, 230, 230);
    border: solid 1px rgb(255, 120, 120);
    border-radius: 16px;
}

.load_fail > p {
    margin: 0 0 1em 0;
    font-size: large;
    font-weight: bold;
}

/* SKILLSセクション */
#skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

#skills > div {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    padding: 5px 10px;
}

#skills > div > p {
    font-size: large;
    margin: 0 0 0 10px;
    font-weight: bold;
}

#skills > div > img {
    width: 28px;
    max-height: 28px;
}

/* WORKSセクション */
#works_area {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    gap: 20px;
    width: 100%;
}

/* タグフィルター */
#tag_filter_area {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: calc(100% - 40px);
    padding: 10px 20px;
    background-color: #f5f5f5;
    border: solid 1px lightgray;
    border-radius: 8px;
    overflow: hidden;
}

#tag_filter_area > p {
    margin: 0;
    font-weight: bold;
}

#tag_filter_selected_area {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    width: calc(100% - 20px);
    padding: 10px;
    background-color: white;
    border: solid 1px lightgray;
    border-radius: 8px;
    overflow: hidden;
}

#tag_filter_selected_tags {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

#tag_filter_clear_button {
    width: calc(1rlh - 8px);
    height: calc(1rlh - 8px);
    padding: 6px;
}

#tag_filter_clear_button:disabled {
    opacity: 25%;
}

#tag_filter_list_area > div {
    cursor: pointer;
}

.clickable_tag:hover {
    background-color: rgba(0, 0, 0, 0.1);
    filter: brightness(85%);
}

.clickable_tag > * {
    pointer-events: none;
}

.selected_tag {
    border-color: gold !important;
    background-color: lightyellow !important;
}

/* 記事一覧 */
#works {
    column-count: 2;
    column-gap: 10px;
    -webkit-column-count: 2;
    -webkit-column-gap: 10px;
    -moz-column-count: 2;
    -moz-column-gap:  10px;
}

@media (max-width: 800px) {
    #works {
        column-count: 1;
        -webkit-column-count: 1;
        -moz-column-count: 1;
    }
}

.works_article {
    display: flex;
    flex-direction: column;
    width: 395px;
    margin-bottom: 10px;
    border: none;
}

.works_article > img {
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
}

.article_summary {
    display: flex;
    flex-direction: column;
    width: calc(100% - 20px);
    padding: 10px;
    border: solid 1px lightgray;
    border-top: none;
    border-radius: 0 0 8px 8px;
}

.article_summary > h2 {
    margin: 0;
}

.article_summary > p {
    margin: 0;
}

.article_summary > div {
    display: flex;
    align-items: end;
    justify-content: space-between;
    margin-top: 5px;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.tag {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 2px 5px;
    border: solid 1px darkgray;
    border-radius: 8px;
}

.tag > img {
    width: 16px;
    height: 16px;
}

.tag_color {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: black;
}

.tag > p {
    margin: 0;
}

#no_article_message {
    margin: 0;
    color: gray;
    font-size: x-large;
    font-weight: bold;
}

/* 記事表示エリア */
#popup_area {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

#popup_background {
    width: 100%;
    height: 100%;
    background-color: transparent;
    transition: 0.5s;
}

#popup_background.popup_transition {
    background-color: rgba(0, 0, 0, 0.75);
}

#popup_content {
    display: flex;
    flex-direction: column;
    align-items: end;
}

#article_area {
    position: absolute;
    width: calc(100% - 40px);
    max-width: 800px;
    height: calc(100% - 50px);
    top: 150%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: solid 1px lightgray;
    border-radius: 50px;
    box-shadow: 2px 2px 16px black;
    overflow: hidden;
    transition: 0.5s cubic-bezier(0.6, -0.28, 0.74, 0.05);
}

#article_area.popup_transition {
    top: 50%;
    transition-timing-function: cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

#article_scroll_area {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    scrollbar-width: none;
    -ms-overflow-style: none;
    overflow-y: scroll;
}

#article_scroll_area::-webkit-scrollbar {
    display: none;
}

#article_image_area {
    position: relative;
    flex-shrink: 0;
    width: 100%;
    height: 300px;
}

#article_image {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

#article_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - 100px);
    height: max-content;
    min-height: calc(100% - 320px);
    margin-top: 10px;
}

#article_title {
    margin: 0;
}

#article_body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
}

#article_body_html {
    width: 100%;
    border: none;
}

#article_footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
}

#article_tags {
    width: 100%;
}

#article_close_button {
    position: relative;
    padding: 10px 50px;
}

#article_close_button::after {
    position: absolute;
    display: block;
    content: '';
    width: 100%;
    height: 10px;
    bottom: -11px;
    left: 0;
}