/* 全体 */
body {
    margin: 0;
}

a {
    color: unset;
    text-decoration:  none;
}

/* ヘッダー */
header {
    width: calc(100vw - 40px);
    height: 60px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    background-color: black;
    box-shadow: 0px -2px 6px 5px rgba(0, 0, 0, 0.25);
}

.header_title {
    margin: 10px 0;
    font-size: x-large;
    font-weight: bold;
}

nav {
    display: flex;
    height: 100%;
}

nav > a {
    width: 110px;
    line-height: 60px;
    text-align: center;
    font-weight: bold;
    transition: 0.25s;
}

nav > a:hover {
    color: black;
    background-color: white;
}

/* メイン記事 */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100vw - 40px);
    padding: 0 20px;
}

.headline {
    display: flex;
    width: 100%;
    max-width: 800px;
    align-items: center;
}

.headline > h1 {
    margin: 20px 40px;
    text-align: center;
}

.headline_line {
    display: block;
    flex-grow: 1;
    height: 4px;
    background-color: black;
}

/* ABOUTセクション */
#about_me {
    display: flex;
    align-items: start;
    gap: 20px;
}

#profile {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.profile_key {
    display: flex;
    align-items: center;
    margin-bottom: 0;
    font-weight: bold;
}

.profile_key::before {
    content: '';
    display: block;
    width: 8px;
    height: 8px;
    margin-right: 5px;
    background-color: black;
    border-radius: 8px;
}

.profile_value {
    margin: 0 0 24px 30px;
    font-size: x-large;
}

#my_photo {
    width: 300px;
    border-radius: 16px;
    box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.25);
}